<div class="bg-white flex flex-col justify-start items-stretch w-1/5">
  <div class="text-2xl border-gray-300 border-0 border-b p-3 text-blue-600 font-bold">SaaS CRM</div>
  <div class="user-avatar p-4 flex flex-row flex-wrap" id="useravatar">
    <img src="http://placekitten.com/48/48" alt="user avatar" class="rounded-full mr-2">
    <div class="bold flex-grow">Sierra Fergusen <div class="text-gray-600 text-sm">testeter@anyemail.org</div></div>

  </div>
  <nav class="p-4 flex flex-col text-lg text-blue-800">
    <a href="/dashboard.hbs">Dashboard</a>
    <a href="/contacts.hbs">Contacts</a>

  </nav>

</div>
