---
language: en
title: "Contacts"
scripts:
  - scripts/data.ts
  - scripts/contacts.ts
stylesheets:
  - https://unpkg.com/element-ui/lib/theme-chalk/index.css

---

{{#extend "layout"}}
{{#content "main"}}
<h1 class="font-size-xl">Contacts</h1>
<div id="contactlist" role="application" class="mx-auto p-2 ">

</div>
{{/content}}
{{/extend}}
